@inherits Umbraco.Web.Mvc.UmbracoViewPage


@{

    Layout = "Master.cshtml";


    var blogImage = Model.HasProperty("headerImage") && Model.HasValue("headerImage") ? Model.Value<IPublishedContent>("headerImage").Url : "";
    var blogAuthor = Model.HasProperty("blogAuthor") && Model.HasValue("blogAuthor") ? Model.Value("blogAuthor") : "";
    var pageTitle = Model.HasProperty("pageTitle") && Model.HasValue("pageTitle") ? Model.Value("pageTitle") : "";
    DateTime blogDate = Model.HasProperty("blogDate") && Model.HasValue("blogDate") ? Model.Value<DateTime>("blogDate") : DateTime.MinValue;

    var author = Model.HasProperty("author") && Model.HasValue("author") ? Model.Value<Author>("author") : null;
    var authorImage = "/img/author.jpg";
    var authorName = "";
    var authorTitle = "";

    if (Model.HasProperty("author") && Model.HasValue("author"))
    {
        authorName = author.AuthorName;
        authorTitle = author.AuthorTitle;
        authorImage = author.HasValue("profilePicture") ? author.ProfilePicture.Url  : authorImage;

    }

}

<section class="section blogpage">
    <div class="container">
        <div class="blogTitle">
            <h1>@pageTitle</h1>
            <div class="authorBox">
                <img src="@authorImage" alt="@authorName" />
                <div class="authorBox_info">
                    <h1>@authorName</h1>
                    <p>@authorTitle</p>
                </div>
                <div class="authorBox_follow">
                    <div>Follow Us</div>
                    <div><i class="fa fa-facebook"></i></div>
                    <div><i class="fa fa-twitter"></i></div>
                    <div><i class="fa fa-linkedin"></i></div>
                </div>
            </div>
        </div>
        @if (Model.HasProperty("headerImage") && Model.HasValue("headerImage"))
        {
            <img src="@blogImage" alt="@blogAuthor" class="blogImage" />
        }
    </div>
</section>

<div class="blogDataContainer">

    @if (Model.HasValue("gridContent"))
    {
        @Html.GetGridHtml(Model, "gridContent")
    }
</div>


<section class="section blogpage">
    <div class="container">
        <div class="blogTitle" style="padding-top:0px;">
            <p>Posted on : @blogDate.ToString("dd MMMM yyyy")</p>
        </div>
    </div>
</section>


<section class="section blogpage">
    <div class="container">
        <div class="blogTitle">
            <div class="authorBox">
                <div class="authorBox_follow">
                    <div><button class="btn btn-primary" onclick="goback()">Go Back</button></div>
                </div>
                <div class="authorBox_info">
                </div>
            </div>
        </div>
    </div>
</section>
